@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.videoss {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    iframe {
        width: 50%;
        height: 50em;
    }
}

.bush5marginBottom {
    padding-bottom: 10%;
}

@media (max-width: 1180px) {
    .videoss iframe {
        padding: 10em 0em 5em 0em; 
        width: 100%;
    }
}

@media (max-width: 780px) {
    .videoss iframe {
        padding-top: 5%;
        width: 100%;
    }
}




