/* Christmas */

/* snowing */

/* #167e56 */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.snowflake {
  
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}
/* snowing */

body {
  background-image: url(../images/winter/blurred-winter-background-with-snowflakes-free-vector.jpg);
  background-size: 30000px;
}

.button {
  position: relative;
}
.button::before {
	content: '';
	display: block;
	position: absolute;
	top: -17px;
	left: -3px;
	right: 0;
	height: 23px;
	background: 
  url(../images/winter/left.png)no-repeat 0 0,
  url(../images/winter/moddle.png)no-repeat 55% 0,
  url(../images/winter/right.png)no-repeat 105% 0;
  


}

/* Christmas */



.hero {
    background-image: url(../images/winter/merry-christmas-background-with-christmas-elements-for-social-media-posts-banners-greeting-cards-and-web-banners-free-photo.jpg);
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.display-none {
  display: block;
}



.main-middle-title {
  width: 100%;
  background-color: #A9242B;
  margin: 0;
  padding: 1em;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.main-middle-container {
  background-color: #167e56;
    width: fit-content;
    text-align: center;
    height: 320px;
    position: relative;
    border-bottom-right-radius: 5em;
    border-bottom-left-radius: 1em;
}
.main-middle-container::before {
  content: '';
	display: block;
	position: absolute;
	top: -7px;
	left: -5px;
	right: 0;
	height: 23px;
	background: 
  url(../images/winter/left.png)no-repeat 0 0,
  url(../images/winter/left.png)no-repeat 20% 0,
  url(../images/winter/left.png)no-repeat 60% 0,
  url(../images/winter/moddle.png)no-repeat 15% 0,
  url(../images/winter/moddle.png)no-repeat 75% 0,
  url(../images/winter/moddle.png)no-repeat 45% 0,
  url(../images/winter/moddle.png)no-repeat 95% 0,
  url(../images/winter/right.png)no-repeat 35% 0,
  url(../images/winter/right.png)no-repeat 52% 0,
  url(../images/winter/right.png)no-repeat 102% 0;
  z-index: 1;
  
}



.last-month {
  opacity: .3;
}
.main-middle {
  margin-top: 3.5em;
}

.today {
  border: 3px solid rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
}


footer {
  background-image: url(../images/winter/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  position: relative;
}
Video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(1), contrast(.6); */
    object-position: center;
    z-index: -1;
    /* border-image: fill 1 linear-gradient(hsl(240 100% 50% ), hsl(0 100% 50% )); */
    
}

/* font-family: "Alex Brush", cursive; */



