@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
/* body {
    background-color: black;
} */
nav {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: black;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
nav li {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav li:first-child {
    margin-right: auto;
}

nav li:nth-child(7){
    margin-left: auto;
}
nav a {
    font-family: 'Montserrat', sans serif;
    font-weight: 500;
    color: white;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    transition: .5s;
}
nav a:hover {
    color: red;
}

.logoNAMEcontainer {
    display: flex;
    justify-content: center;
    .logoName {
    display: flex;
    }
    .logoName .ddd {
        color: #db002c;
        font-family: "Goldman", sans-serif;
        font-size: 1.8em;
        letter-spacing:  -2px;
    }
    .logoName .ttt, .secondPpart {
        color: rgb(126, 126, 126);
        font-family: "Goldman", sans-serif;
        font-size: 1.8em;
    }
}


nav img {
    width: 50px;
    margin: 0 30px 0 0;
}

nav #bookAconsultationBG {
    background-color: rgb(99 102 241 / var(--tw-bg-opacity, 1));
    border-radius: 2em;
    font-size: .9em;
    padding: .6em 1.5em;
    color: rgb(255, 255, 255);
    margin-right: 2em;
    transition: .4s;
}

nav #bookAconsultationBG:hover {
        color: rgb(0, 0, 0);
        background-color:  rgb(99 102 241 / var(--tw-bg-opacity, .7));
    }




.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
    width: 250px;
    padding: 3em;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li {
    
    width: 100%;
    margin-bottom: 1.5em;

}
.sidebar a {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1.2em;

}

.manu_button {
    display: none;
}




/* ---------- @media ----------- */

 @media (max-width: 1250px) {
    .hideOnMobile {
        display: none;
    }
    .manu_button {
        display: block;
    }
    .sidebar {
    width: 70%;
    }
    
    
 }

@media (max-width: 1370px) {



}

@media (max-width: 990px) {
    .sidebar {
    width: 60%;
    }
    .hide_under990 {
        display: none;
    
}
nav {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 1em;
}
}


/* ------------------------------------------------------- */



