* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


.what_we_offer_container {
    .head {
        background-position: top;
        background-image: url(../images/Whwt\ We\ ofer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40em;

        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        h1 {
        font-size: 3em;
        }
    }
}

@media (max-width: 500px) {
    .what_we_offer_container {
    .head {
        h1 {
        font-size: 2.5em;
        }
    }
}
}