@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

img {
    width: 2em;
}

.training_container {
    background-color: rgb(215, 225, 250);
}
.training_container .content {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
.training_container .head_title h1 {
    font-weight: 400;
}
.training_container span {
    color: rgb(183, 100, 183);
}
.training_container .august_sheduel {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: .3em;
    align-items: center;
    flex-direction: column;    
}
.training_container .august {
    width: 90%;
    height: 3em;
    background-color: rgba(255, 255, 255, 0.967);
    display: flex;
    justify-content: center;
    align-items: center;
}
.training_container .data{
    border: .01px solid rgb(217, 205, 205);
}

.training_container .data:first-child{
    font-weight: 300;
}

.training_container a {
    text-decoration: none;
    
}
.playBut {
    margin-top: .3em;
    transition: .5s;
}
.playBut:hover {
    transform: scale(1.2);
}
.training_container  .data {
    flex: 1 1 0;
    text-align: center;
    height: inherit;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 1.2em;
    
}
.training_container .data:nth-child(2) {
    color: rgb(55, 139, 66);
}
#colorRed {
    color: rgb(230, 57, 57);
    
}

.head_title {
    font-weight: 100;
    font-family: "Outfit", sans-serif;
}


.backG {
    background-color: rgb(183, 100, 183);
}
.padding1px {
    padding: 1px;
}
.colorW {
    color: white;
    p {
    font-size: 1.1em;

    }
}




@media (max-width: 1000px) {
    
    .colorW {
        color: white;
        p {
        font-size: .9em;

        }

    }
}
@media (max-width: 400px) {
    .training_container .head_title h1 {
     font-size: 1.5em;
    }
}