@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

img {
    width: 100%;
}
.first_page_container .head {
    padding: 12em 0 0 0;
}
.first_page_container .head {
    height: 60vh;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    flex-direction: column;
}
.first_page_container  h1 {
    text-align: center;
    font-size: 4.5em;
    line-height: 1;
    width: 60%;
}
.first_page_container  p {
    margin-top: 1em;
    max-width: 40em;
    text-align: center;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.671);
}
.first_page_container .head  span {
    text-transform: uppercase;
    font-size:.75em;
    font-weight: 500;
}
.first_page_container a  {
    margin-top: 7em;
    text-decoration: none;
    font-size: 1em;
    background-color: rgba(99, 101, 241, 0.877);
    padding: 1.1em 2.1em;
    border-radius: 2em;
    color: white;
    /* max-width: 20em; */
    text-align: center;
}

/* second section */


.first_page_SECOND__section {
    text-align: center;
    
}

.first_page_SECOND__section .content {
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}
.first_page_SECOND__section h1 {
    font-size: 3em;
    color: rgba(99, 101, 241, 0.664) ;
    line-height: .9em;
    letter-spacing: -0.05em;
    max-width: 7em;
    font-weight: 500;
}
/* .first_page_SECOND__section p {
    margin-top: 1em;
    font-size: 1.5em;
    max-width: 27em;
    font-size: 1.2em;
} */

/*---------------- Third section ----------------*/
.first_page_Third_section {
    padding-top: 5em;
}
.first_page_Third_section .conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10em;
    flex-wrap: wrap;
    width: 100%;
    
} 
.first_page_Third_section .content, .text {
    width: 30%;
}
.first_page_Third_section img {
    border-radius: 2em;
    
}

.first_page_Third_section h1 {
    color: rgba(0, 0, 0, 0.671);
    line-height: 1;
    margin-bottom: .5em;
}

.first_page_Third_section span {
    font-weight: 600;
}

#reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}




@media (min-width: 1440px) {
    .first_page_container  h1 {
        width: 50%;
    }

    /* second section */

    /* Third section */
    
    
}



@media (max-width: 1430px) {
    .first_page_container  h1 {
        width: 70%;
    }
    
    
    /* second section */
}    

@media (max-width: 1070px) {
    .first_page_container .head {
        height: 60vh;
        margin-bottom: 7em;
    }
    .first_page_container  h1 {
        text-align: center;
        font-size: 4em;
        line-height: 1;
        width: 80%;
    }
    
    /* second section */
    .first_page_SECOND__section h1 {
        font-size: 2.8em;
    }
    
    /* Third section */
    .first_page_Third_section .content, .text {
        width: 40%;
    }
    .first_page_Third_section .conteiner {
        column-gap: 5em;
    } 
}

@media (max-width: 770px) {
    
    .first_page_container  h1 {
        font-size: 3em;
    }

    /* second section */
    .first_page_SECOND__section h1 {
        font-size: 2.5em;
    }
    /* Third section */
    .first_page_Third_section .content, .text {
        width: 45%;
    }
    .first_page_Third_section .conteiner {
        column-gap: 2em;
    } 
    
}

@media (max-width: 610px) {
    
    .first_page_container  h1 {
        font-size: 3em;
        width: 100%;
    }
    /* second section */
    
}

@media (max-width: 550px) {
    .first_page_container {
        padding: 0 .4em;
    }
    .first_page_container  h1 {
        font-size: 3em;
        width: 10em;
    }

    /* second section */

    /* Third section */
    .first_page_Third_section .conteiner {
        padding: 0 1em;
        column-gap: 2em;
    }
    .first_page_Third_section .content, .text {
        width: 100%;
    } 
    .first_page_Third_section h1 {
        margin-top: 1em;
}
}

@media (max-width: 475px) {
    
    .first_page_container  h1 {
        font-size: 2.359em;
        width: 10em;
    }
    .first_page_container  p {
        margin-top: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 30em;
        text-align: center;
        font-size: 1.2em;
    }
    
    /* second section */
   
    .first_page_SECOND__section h1 {
        font-size: 2.1em;
    }
}

@media (max-width: 375px) {
    
    /* second section */
    .first_page_SECOND__section .content {
        margin-top: 10em;
    }
    
    
}
