@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body {
    background-color: rgb(255, 255, 255);
}

img {
    width: 100%;
}
.frond-top-BG {

    background-image: url(images/bgFrondTop.jpg);
    background-size: cover;
    background-position: 100% 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -999;
}


.top-container {
    margin-bottom: 10em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 10em;
    row-gap: 2.5em;
}
.top-container .top-name {
    font-size: 3.5em;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.top-container .top-text {
    font-size: 1.2em;
    max-width: 40em;
    color: rgba(249, 249, 249, 0.691);
}
.top-container .button a {
    text-decoration: none;
    color: white;
    
}

.subtitle{
    font-size: 1.2em;
    font-weight: 300;
    color: white;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 40px;
    mask-size: 100%;
    mask-position: center center;
    mask-image: url(images/download.svg);
    background-color: red;
    width: 14em;
   
}


.front-top-bottom {
    text-align: center;
}



.marginBtm5{
   margin-bottom: 5em;
    
}
.marginBtm10{
   margin-bottom: 10em;
    
}
.front-middle-content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10em;
    row-gap: 2em;
    flex-wrap: wrap;
}
.front-middle-content .sameSpace {
    width: 30em;
}
.front-middle-content  img{
    border-radius: 2em;
}
.front-middle-content  h1{
    line-height: 1.1em;
    margin-bottom: 1em;
    padding-left: .6em;
}
.front-middle-content  p{
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    margin-bottom: 2em;
    margin-left: 1em;
}

#reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.middle-container {
    margin-top: 5em;
    background-color: #DFDBE5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.same {
    max-width: 50em;
}
.middle-container .maxW {
    padding: 10em 10em 0em 0em;
    
}
.middle-container .middle-content {
    display: flex;
    flex-direction: column;
    background-color: #DFDBE5;

}
.middle-container .middle-content h1, p{
    margin-left: 1em;
}
.middle-container .middle-content  .sections {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
        /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.18'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */

}
.middle-container .middle-content  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
}

.middle-container .middle-content  p {
    max-width: 30em;
    text-align: justify;
    margin-bottom: 1em;
}
.middle-container .middle-content section  img {
    width: 30px;
    padding: 1em 0;
}
.middle-container .middle-content section  h2{
    margin-bottom: .7em;
}
.middle-container .middle-content section  p{
   max-width: 13em;
}
.middle-container .middle-content section  .middle-footer {
    border: 1px solid black;
    padding: 1.7em;
    max-width: 13em;
    text-align: center;
}
.middle-container .middle-content section  p{
    max-width: 13em;
    text-align: center;
}

@media (max-width: 990px) {
    .sidebar {
    width: 60%;
    }
    .hide_under990 {
        display: none;
    }
    

    .frond-top-BG {

    /* background-image: url(images/bgFrondTop2.jpg); */
    background-position: fixed;
    background-repeat: no-repeat;    
    background-size: cover;
    position: absolute;
}
.top-container {
    padding: 5em;
}

}

@media (max-width: 600px) {
    .sidebar {
    width: 60%;
    }
    .hide_under990 {
        display: none;
    }

    .frond-top-BG {

    background-image: url(images/bgFrondTop2.jpg);
    /* background-position: fixed; */
    background-repeat: no-repeat;    
    background-size: cover;
    background-position-x: -100px;
    position: absolute;
   
   
    
    z-index: -999;
}
.top-container {
    padding: 2.5em;
    .top-name {
        font-size: 2.5em;
    }
}
.subtitle{
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 40px;
    mask-size: 100%;
    mask-position: center center;
    mask-image: url(images/download.svg);
    background-color: red;
    width: 14em;
    z-index: -9;
}
}



.btn {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid red;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  width: 250px;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: rgb(255, 0, 0);
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

.marginLeft1em {
    margin-left: 1em;
}